# Source - https://stackoverflow.com/a
# Posted by Fiskmans, modified by community. See post 'Timeline' for change history
# Retrieved 2026-01-13, License - CC BY-SA 4.0

UseTab: Always
IndentWidth: 4
TabWidth: 4
